@font-face {
    font-family: "Space Mono Bold";
    src: url("./assets/fonts/Space_Mono/SpaceMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*==============================================================================================
CSS Reset - https://piccalil.li/blog/a-more-modern-css-reset/
==============================================================================================*/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Set core body defaults */
body {
    margin: 0;
    min-height: 100vh;
    line-height: 1.5;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    line-height: 1;
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/*==============================================================================================
Root Variables
==============================================================================================*/

:root {
    /* colors */
    --clr-green-900: hsl(183, 100%, 15%);
    --clr-green-800: hsl(183, 85%, 21%);
    --clr-green-750: hsl(183, 79%, 24%);
    --clr-green-400: hsl(172, 67%, 45%);
    --clr-green-200: hsl(173, 61%, 77%);

    --clr-orange-400: hsl(13, 70%, 60%);

    --clr-neutral-600: hsl(180, 25%, 32%);
    --clr-neutral-550: hsl(180, 18%, 40%);
    --clr-neutral-500: hsl(186, 14%, 43%);
    --clr-neutral-400: hsl(184, 14%, 56%);
    --clr-neutral-300: hsl(184, 19%, 68%);
    --clr-neutral-200: hsl(185, 41%, 84%);
    --clr-neutral-50: hsl(189, 47%, 97%);

    --clr-white: hsl(0, 100%, 100%);
    --clr-black: hsl(0, 0%, 0%);

    /* font sizes */
    --fs-900: 2rem;
    --fs-700: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
    --fs-300: 0.8125rem;

    /* line heights */
    --lh-xl: 2.9375rem;
    --lh-lg: 2.25rem;
    --lh-md: 1.875rem;
    --lh-sm: 1.5rem;
    --lh-xs: 1.1875rem;

    /* letter spacing */
    --ls-none: 0;
    --ls-neg: -0.67px;

    @media (min-width: 768px) {
        /* Tablet */
        --fs-900: 3rem;
        --lh-xl: 4.4375rem;
        --ls-neg: -1px;
    }
}

/*==============================================================================================
Base
==============================================================================================*/

body {
    font-family: "Space Mono Bold";
    font-size: var(--fs-400);
    font-weight: 700;
    line-height: var(--lh-sm);
    letter-spacing: var(--ls-none);

    background-color: var(--clr-neutral-200);
}

fieldset {
    border: none;
    padding: 0;

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    & > * {
        flex-basis: calc(50% - 0.5rem);
    }
}

legend {
    margin-block-end: 0.5rem;
}

input {
    font-size: var(--fs-700);
    line-height: var(--lh-lg);

    border-radius: 5px;
    border-style: none;
    background-color: var(--clr-neutral-50);

    padding-block: 0.5rem;
    padding-inline: 1rem;

    text-align: right;
    color: var(--clr-green-900);
}

input:is(:hover, :focus-visible) {
    outline-color: var(--clr-green-400);
}

input[type="radio"] {
    display: none;
}

/*==============================================================================================
Layout
==============================================================================================*/

header {
    padding-block: 2.5rem;
}

body {
    grid-template-rows: min-content 1fr;
}

.tip-calc {
    grid-template-rows: min-content min-content 1fr;
    gap: 2rem;

    padding-block: 2rem;
    padding-inline: 1.5rem;
    border-start-end-radius: 1.5rem;
    border-start-start-radius: 1.5rem;

    background-color: var(--clr-white);
}

.tip-calc__form {
    gap: 2rem;
}

.tip-calc__result-card {
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--clr-green-900);

    gap: 2rem;
}

.result-card__content-wrapper {
    gap: 1.5rem;
}

.result-card__content-wrapper .flex-group p:first-child {
    color: var(--clr-white);
}

.result-card__content-wrapper .flex-group p:last-child {
    font-size: var(--fs-900);
    line-height: var(--lh-xl);
    letter-spacing: var(--ls-neg);

    color: var(--clr-green-400);
}

.flex-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 500px) {
    body {
        grid-template-rows: 1fr min-content min-content 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    header {
        padding-block-start: 0;
        grid-column: 2;
        grid-row: 2;
    }

    .tip-calc {
        min-width: 500px;
        grid-template-rows: initial;
        grid-column: 2;
        grid-row: 3;
        border-radius: 1.5rem;
    }
}

@media (min-width: 768px) {
    fieldset {
        border: none;
        padding: 0;

        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

        & > * {
            flex-basis: calc(33% - 0.67rem);
        }
    }

    .tip-calc {
        gap: 2.5rem;
        min-width: 660px;
        padding-block: 3rem;
        padding-inline: 5rem;
    }

    .tip-calc__form {
        gap: 1.5rem;
    }
}

@media (min-width: 1000px) {
    header {
        padding-block-end: 6rem;
    }
    .tip-calc {
        gap: 3rem;
        /*width: fit-content;*/
        min-width: 720px;
        min-width: 920px;
        grid-template-columns: 1fr 1fr;
        padding-block: 2rem;
        padding-inline: 2rem;
    }

    .tip-calc__form {
        gap: 2.5rem;
    }

    .tip-calc__result-card {
        grid-template-rows: 1fr 1fr;
    }

    .btn.btn--reset {
        align-self: end;
    }
}

/*==============================================================================================
Components
==============================================================================================*/
/* Inputs */
#bill-amount {
    background-image: url("./assets/images/icon-dollar.svg");
    background-position: 1rem center;
    background-repeat: no-repeat;
}

#people-amount {
    background-image: url("./assets/images/icon-person.svg");
    background-position: 1rem center;
    background-repeat: no-repeat;
}

#bill-amount::placeholder,
#people-amount::placeholder {
    color: var(--clr-neutral-300);
}

#custom-percent {
    position: relative;
    width: 100%;
    padding: 0;

    cursor: pointer;
    text-align: center;
}

#custom-percent::placeholder {
    color: var(--clr-neutral-550);
}

/* Form Group */
.form-group > label,
fieldset > legend {
    color: var(--clr-neutral-500);
}

.form-group {
    position: relative;
    gap: 0.5rem;
}

.form-group.error-active {
    position: relative;
}

.form-group.error-active input {
    border: 2px solid var(--clr-orange-400);
    margin: -2px;
    outline: none;
}

.form-group.error-active input:is(:hover, :focus-visible) {
    outline-color: var(--clr-orange-400);
}

.form-group .error {
    color: var(--clr-orange-400);
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s;
}

.form-group.error-active .error {
    opacity: 1;
}

/* Radio Buttons */
.radio-group {
    display: flex;
}

.radio-group > label {
    width: 100%;
    text-align: center;
}

.radio-group > label:is(:hover, :focus-visible) {
    outline: none;
    background-color: var(--clr-green-200);
    color: var(--clr-green-900);
}

input[type="radio"]:checked + label {
    background-color: var(--clr-green-400);
    color: var(--clr-green-900);
}

/* Buttons */
.btn {
    font-size: var(--fs-700);
    line-height: var(--lh-lg);

    cursor: pointer;
    border-style: none;
    border-radius: 5px;
    padding-block: 0.5rem;
    padding-inline: 1rem;
}

.btn--tip {
    color: var(--clr-white);
    background-color: var(--clr-green-900);
}

.btn--reset {
    font-size: var(--fs-500);
    color: var(--clr-green-900);
    background-color: var(--clr-green-400);
    text-transform: uppercase;
}

.btn--reset:is(:hover, :focus-visible) {
    outline: none;
    background-color: var(--clr-green-200);
}

.btn--reset:disabled {
    background-color: var(--clr-green-750);
    color: var(--clr-green-800);
}

/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*==============================================================================================
Utilities
==============================================================================================*/

.selected {
    background-color: var(--clr-green-400);
    color: var(--clr-green-900);
}

.d-block {
    display: block;
}

.accent-text {
    color: var(--clr-neutral-400);
    font-size: var(--fs-300);
    line-height: var(--lh-xs);
    letter-spacing: var(--ls-none);
}

.grid {
    display: grid;

    &[data-content="center"] {
        place-content: center;
    }
}
